{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block page_content %}
<style>
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none;
	}
	.qty{
		max-width: 2rem;
		border-width: 0 0;
		font-size: 1rem;
		height: 1.5rem;
		outline: none;
		text-align: center;
	}
</style>

<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-6">
			<div class="card-body">
				<img class="website-image" src="{{ image }}" alt="{{ item_name }}">
			</div>
		</div>
		<div class="col-md-6 py-6">
			<div class="card-body">
				<h2 class="card-title">
					{{ item_name or name }}
				</h2>
				<p class="card-text">
					{{ item_description or '<i class="text-muted">No description</i>' }}
				</p>
				<div class="mb-2">
					<button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-light btn-sm">-</button>
					<input class="qty" min="1" value="1" type="number">
					<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus btn btn-light btn-sm">+</button>
				</div>
				<h3>PRICE: ₹ {{ standard_selling_rate }}</h3>
				<button data-item-name='{{ name }}' class="add-to-cart btn btn-danger mt-3">Add to Cart</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block base_scripts %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
<script> {% include "accounting/accounting/doctype/item/templates/item.js" %} </script>
{% endblock %}

<!-- this is a sample default web page template -->