<style>
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none;
	}
	.qty{
		max-width: 2rem;
		border-width: 0 0;
		font-size: 1rem;
		height: 1.5rem;
		outline: none;
		text-align: center;
	}
</style>
<h2>Cart</h2>
{% if cart %}
	{% for d in cart.get('items', []) %}
		{% set image = frappe.db.get_value('Item', d.item, 'image') %}
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-6 col-md-2">
					<div class="card-body">
						<a href="/{{ frappe.db.get_value('Item', d.item, 'route') }}"><img class="website-image" src="{{ image }}" alt="{{ d.item }}"></a>
					</div>
				</div>
				<div class="col-6 col-md-4 py-6">
					<div class="card-body">
						<h4 class="card-title"><span class="text-muted" >Name: </span>
							<a class="text-dark" href="/{{ frappe.db.get_value('Item', d.item, 'route') }}">{{ d.item }}</a>
						</h4>
						<h5 class="card-title"><span class="text-muted" >Price: </span>₹ {{ frappe.db.get_value('Item', d.item, 'standard_selling_rate')  }}</h5>
					</div>
				</div>
				<div class="col-6 col-md-3 py-6">
					<div class="card-body text-center">
						<h5 class="card-title text-muted">Quantity</h5>
						<h5>{{ d.qty }}</h5>
						<!-- <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-light btn-sm">-</button>
						<input class="qty" min="1" value="{{ d.qty }}" type="number">
						<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus btn btn-light btn-sm">+</button> -->
					</div>
				</div>
				<div class="col-6 col-md-3 py-6">
					<div class="card-body text-center">
						<h5 class="card-title text-muted">Total</h5>
						<h5>₹ {{ d.amount }}</h5>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="card mb-3">
		<div class="py-1">
			<div class="card-body">
				<h4 class="text-right"><span class="text-muted" >Order Total: </span>₹ {{ cart.total_amount }}</h4>
			</div>
		</div>
	</div>
	<div class="d-flex flex-row-reverse mb-12">
		<button data-buy-item='{{ cart.name }}' class="buy_now btn btn-danger mt-3 ml-3">Buy Now</button>
		<a href="/products" class="buy_now btn btn-outline-primary mt-3">Continue Shopping</a>
	</div>
{% else %}
	<div class="card-body cart">
		<div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
			<h3><strong>Your Cart is Empty</strong></h3>
			<h4>Add something to make me happy :)</h4> <a href="/products" class="btn btn-primary cart-btn-transform m-3">Continue Shopping</a>
		</div>
	</div>
{% endif %}

